# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# npm
package.json
package-lock.json
